:root {
    --text-color: #374151;
    --highlight-color: #559949;

    --text-color-darker: hsl(from var(--text-color) h s calc(l - 10));
    --text-color-darkest: hsl(from var(--text-color) h s calc(l - 20));

    --highlight-color-darker: hsl(from var(--highlight-color) h s calc(l - 10));
    --highlight-color-darkest: hsl(from var(--highlight-color) h s calc(l - 20));
}

.parsedown {
    color: var(--text-color);
}

.parsedown h1 {
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.parsedown ul {
    list-style-type: circle;
    list-style-position: inside;
}

.parsedown ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.parsedown a {
    color: var(--highlight-color);
}

.parsedown a:hover {
    color: var(--highlight-color-darker);
}

.parsedown a:active {
    color: var(--highlight-color-darkest);
}

.parsedown pre {
    background-color: #e5e7eb;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 0px 16px 0px;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.parsedown code {
    background-color: #e5e7eb;
    border-radius: 8px;
    color: var(--text-color);
    padding: 2px;
    margin: 4px 0px 16px 0px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.list-content h1 {
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
}

.list-content ul {
    list-style-type: circle;
    list-style-position: inside;
    margin: 2px 0px;
    font-size: 18px;
    font-weight: 600;
}

.list-content a:hover {
    color: var(--highlight-color-darker);
}

.list-content a:active {
    color: var(--highlight-color-darkest);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid #4b5563;
}

th {
    background-color: #E5E5E5;
}
